<!DOCTYPE html>
<html>
<script src="javascript/angular.min.js" type="text/javascript" charset="utf-8"></script>

<style>
  .sky {
    color:white;
    background-color:lightblue;
    padding:20px;
    font-family:"Courier New";
  }
  .tomato {
    background-color:coral;
    padding:40px;
    font-family:Verdana;
  }
</style>

<body ng-app="">

<div>
  <p>My first expression: {{ 5 + 5 }}</p>
  <p ng-bind="myText"></p>
</div>

<p>Choose a class:</p>

<select ng-model="home">
  <option value="sky">Sky</option>
  <option value="tomato">Tomato</option>
</select>

<div ng-class="home">
  <h1>Welcome Home!</h1>
  <p>I like it!</p>
</div>

<p>Click the button:</p>

<button ng-click="count = count + 1" ng-init="count=0">OK</button>

<div>The button has been clicked {{count}} times.</div>

<input ng-model="name">

<p>The input field is bound to the "name" variable:</p>
{{name}}

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.name = "John Doe";
    });
</script>

</body>
</html>
